<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!--    声明userService-->
    <bean id="userService" class="com.bigguy.spring.service.UserSvc" />

    <bean id="user" class="com.bigguy.spring.entity.User" >
        <property name="username" value="tom" />
    </bean>

    <bean id="userFactory" class="com.bigguy.spring.service.UserFactoryBean" >
    </bean>

    <bean id="userBean" name="userBean2, userBean3, userBean4" class="com.bigguy.spring.bean.UserBean">

    </bean>
</beans>
